<div class="container">
    <div class="row">
        <section class="get-nfl-players">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Go CBS Sports API</h3>
                </div>
                <div class="panel-body">
                    <button type="button" ng-click="loadNflPlayers()" class="btn btn-primary">Load Players</button>
                </div>
            </div>
        </section>
    </div>
    </div>
    <a ui-sref="home">Go Home</a>