<div class="row">
    <section class="view-selector" ng-show="viewSelector">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Select Roster</h3>
                <!--<h5>{{active_player.name}}</h5>
                        <h5>{{active_playercard.lastname}}</h5>-->
            </div>
            <div class="panel-body">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary " ui-sref='my-roster'>
                        <input type="radio" name="roster1"> My Roster
                    </label>
                    <label class="btn btn-primary" ui-sref='nfl-players'>
                        <input type="radio" name="roster1"> NFL Roster
                    </label>
                </div>
            </div>
        </div>
    </section>
</div>